
<div class="page-header" filter-color="orange">
    <div class="page-header-image" style="background-image:url(assets/img/login.png)"></div>
    <div class="container">
        <div class="col-md-4 content-center">
            <div class="card card-login card-plain">
                <form [formGroup]="loginForm">
                    <div class="header header-primary text-center">
                        <div class="logo-container">
                            <img src="assets/img/now-logo.png" alt="">
                        </div>
                    </div>
                    <div class="content">
                        <div class="form-group">
                            <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focus===true}">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">  <i class="now-ui-icons users_circle-08"></i></span>
                                </div>
                                <input type="email" formControlName="email" class="form-control" placeholder="Email Address..." (focus)="focus=true" (blur)="focus=false" >
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focus1===true}">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="now-ui-icons text_caps-small"></i></span>
                                </div>
                                <input type="password" formControlName="password" class="form-control" placeholder="Password..."  (focus)="focus1=true" (blur)="focus1=false"/>    
                            </div>
                            <div class="row">  <!--center the error text!!!-->
                                    <label class="error">{{errorMessage}}</label>
                                </div>
                        </div>
                    </div>
                    <div class="footer text-center">
                        <button type="submit" (click)="tryLogin(loginForm.value)" class="btn btn-primary btn-round btn-lg btn-block">Get Started</button>
                    </div>
                    <div class="pull-left">
                        <h6>
                            <a routerLink="/register" class="link">Create Account</a>
                        </h6>
                    </div>
                    <div class="pull-right">
                        <h6>
                            <a href="#" class="link">Need Help?</a>
                        </h6>
                    </div>
                </form>
            </div>
            <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <button type="button" class="btn btn-primary btn-block" (click)="tryFacebookLogin()">Login with Facebook</button>
                    </div>
                    <div class="col-md-4 col-md-offset-4">
                        <button type="button" class="btn btn-danger btn-block" (click)="tryGoogleLogin()">Login with Google</button>
                    </div>
                    <div class="col-md-4 col-md-offset-4">
                        <button type="button" class="btn btn-info btn-block" (click)="tryTwitterLogin()">Login with Twitter</button>
                    </div>
                </div>
    </div>
    
        
    <footer class="footer">
        <div class="container">
            <nav>
            </nav>
            <div class="copyright">
              {{data | date: 'yyyy'}}Designed by
                <a>Group #23</a>
            </div>
        </div>
    </footer>
</div>
