<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary">
  <span>Information Forum</span>
  <span class ="spacer"></span>
  <button mat-raised-button color="warn">Publish +</button>
</mat-toolbar>

<mat-tab-group dynamicHeight>
    <mat-tab label="home">
      <div>
            <mat-card class="first-card">
                <mat-card-header>
                  <div mat-card-avatar class= "example-header-image1"></div>
                  <mat-card-title>Sarath Rathnayake</mat-card-title>
                  <mat-card-subtitle>Wheat Cultivation Facts</mat-card-subtitle>
                </mat-card-header>
                
                <mat-card-content>
                  <p>
                      Wheat Cultivation Facts. Widely known as the most important of all the food crops, Wheat is
                      the most grown crop in India. It is being grown in India for more than 5000 years & the new age 
                      wheat i.e. Triticum aestivum or the common Bread Wheat is being consumed all over India.
                 </p>
                </mat-card-content>

                <mat-card-actions>
                  <button mat-button class="like">Upvote
                      <i class="material-icons">thumb_up</i>
                  </button>
                  <button mat-button>Downvote
                      <i class="material-icons">thumb_down</i>
                  </button>
                  <button mat-button>Comment
                      <i class="material-icons">note</i>
                  </button>
                </mat-card-actions>

            </mat-card>   
      </div>
      <div>
          <mat-card class="first-card">
              <mat-card-header>
                <div mat-card-avatar class= "example-header-image2"></div>
                <mat-card-title>Sirisena Gamage</mat-card-title>
                <mat-card-subtitle>Dryland farming</mat-card-subtitle>
              </mat-card-header>
              
              <mat-card-content>
                <p>
                    Dryland farming and dry farming encompass specific agricultural techniques for the non-irrigated cultivation 
                    of crops. Dryland farming is associated with drylands, areas characterized by a cool wet season that is 
                    followed by a warm dry season.Additionally,arid-zone agriculture is being developed for this purpose.
                </p>
              </mat-card-content>

              <mat-card-actions>
                <button mat-button class="like">Upvote
                    <i class="material-icons">thumb_up</i>
                </button>
                <button mat-button>Downvote
                    <i class="material-icons">thumb_down</i>
                </button>
                <button mat-button>Comment
                    <i class="material-icons">note</i>
                </button>
              </mat-card-actions>
            </mat-card>   

      </div>
      </mat-tab>

  <mat-tab label="category 1">
    <mat-card class="first-card">
      <mat-card-header>
          <div mat-card-avatar class= "example-header-image2"></div>
          <mat-card-title>Sarath Rathnayake</mat-card-title>
          <mat-card-subtitle>Wheat Cultivation Facts</mat-card-subtitle>
      </mat-card-header>

                <mat-card-content>
                  <p>
                      Wheat Cultivation Facts. Widely known as the most important of all the food crops, Wheat is
                      the most grown crop in India. It is being grown in India for more than 5000 years & the new age 
                      wheat i.e. Triticum aestivum or the common Bread Wheat is being consumed all over India.
                  </p>
                </mat-card-content>

              <mat-card-actions>
                  <button mat-button class="like">Upvote
                      <i class="material-icons">thumb_up</i>
                  </button>
                  <button mat-button>Downvote
                      <i class="material-icons">thumb_down</i>
                  </button>
                  <button mat-button>Comment
                      <i class="material-icons">note</i>
                  </button>
              </mat-card-actions>

     </mat-card>
  </mat-tab>

  <mat-tab label="category 2">
    <div class="example-large-box mat-elevation-z4">
       content
    </div>
  </mat-tab>

  <mat-tab label="category 3">
      <div class="example-large-box mat-elevation-z4">
         content
      </div>
    </mat-tab>

</mat-tab-group>

